<style>
    body {
        margin: 0;
        background-color: rgb(157, 211, 235);
    }
    #container {
        padding: 1em;
        display: flex;
        height: calc(100% - 2em);
        justify-content: center;
    }
    #field {
        border: 2px solid black;
        /* max-width: 80vw;
        max-height: 80vh; */
        display: flex;
        width: 75%;
    }
</style>

<!-- 100-110 x 64-73 -->
<div id="container">
    <canvas id="field" width="300" height="300"></canvas>
</div>

<script src="/index.js"></script>