{% extends "_layout.html"}
{% block title %}User List{% endblock %}


{% block content %}

    hi
    <ul>
        {% for user in users %}
            <li>{{user}}</li>
        {% endfor %}
    </ul>

{% endblock %}